<div class="dropzone" appDragAndDrop (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onfileInputChange($event)"/>
  <mat-icon class="icon">upload</mat-icon>
  <h3>Drag and drop files here</h3>
  <h3>or</h3>
  <label for="fileDropRef"><button mat-raised-button color="warn">Browse for file</button></label>
  <mat-progress-bar *ngIf="isUploading$ | async" mode="indeterminate"></mat-progress-bar>
</div>
<h2>Last {{numberOfImages$ | async}} uploaded images</h2>
<div class="list" *ngIf="(images$ | async) as images; else loading" >
  <mat-list class="img-list">
    <mat-list-item *ngFor="let image of images" class="img-list-item">
      <img [src]="image.url" alt="cat image">
      <button mat-icon-button color="warn" (click)="onDelete(image)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
