:host {
  display: grid;
  grid-template-rows: 1fr 3rem;

  width: max-content;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

img {
  width: 24rem;
  grid-column: span 2;
  border: solid var(--color, rgb(191, 191, 191)) 0.5rem;
}

.green {
  --color: #00ff15;
}

.red {
  --color: #ff0000;
}

.up {
  color: greenyellow;
}

.down {
  color: orange;
}

mat-icon {
  cursor: pointer;
}
