<div class="relative">
  <img
    [src]="image.imageUrl"
    [ngClass]="{ red: image.vote < 0, green: image.vote > 0 }"
    height="320"
  />

  <div class="heart">
    <mat-icon
      class="fav"
      [class.isFavorite]="image.isFavorite"
      (click)="onFavorite()"
      >favorite</mat-icon
    >
  </div>
</div>
<ng-container *ngIf="!image.vote; else likedTemp">
  <mat-icon class="up" (click)="onLike()">thumb_up</mat-icon
  ><mat-icon class="down" (click)="onDislike()">thumb_down</mat-icon>
</ng-container>

<ng-template #likedTemp><p (click)="onUndo()">Remove vote</p></ng-template>
