mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /** set line height to desired height */
  line-height: 18px;
  /** set height to auto */
  height: auto;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  display: flex;
}
