<mat-toolbar color="primary">
  <span class="logo">Cats</span>
  <div class="spacer">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/favourite">Favourite</a>
    <a mat-button routerLink="/votes">Votes</a>
    <a mat-button routerLink="/upload">Upload</a>
  </div>
  <ng-container *ngIf="notifications | async as notifi">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon matBadge="{{ notifi.length }}">notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let item of notifi">
        <button mat-icon-button *ngIf="item.type === 'votes'; else favourites">
          <mat-icon color="{{ item.action === 'like' ? 'warn' : 'black' }}"
            >favorite</mat-icon
          >
        </button>

        <ng-template #favourites>
          <mat-icon color="{{ item.action === 'like' ? 'warn' : 'black' }}"
            >thumbsup</mat-icon
          >
        </ng-template>

        <div class="mat-list-text">
          <p _ngcontent-c10="" class="mat-line" matline>{{ item.name }}</p>
          <p _ngcontent-c10="" class="mat-line" matline>
            {{ item.date | date }}
          </p>
        </div>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
