<!-- <mat-list *ngIf="images$ | async; else empty">
  <div mat-subheader>Positive</div>

  <app-display-votes
    *ngIf="positiveImages$ | async as positiveImages"
    [images]="positiveImages"
    (dislike)="onDislike($event)"
    (like)="onLike($event)"
    (delete)="onDeleteVote($event)"
  ></app-display-votes>

  <mat-divider></mat-divider>
  <div mat-subheader>Negative</div>

  <app-display-votes
    *ngIf="negativeImages$ | async as negativeImages"
    [images]="negativeImages"
    (dislike)="onDislike($event)"
    (like)="onLike($event)"
    (delete)="onDeleteVote($event)"
  ></app-display-votes>
</mat-list> -->

<ng-template #empty>Pusto</ng-template>
